{% extends "wishlist/layout.html" %}

{% block content %}
    <div class="content small">
        <div class="text-center">
            <div id="signin">
                {% if form.errors %}
                 <p class="error-message">Bad credentials</p>
                {% endif %}
                <form action="{% url 'wishlist:login' %}" method="POST">{% csrf_token %}
                        {{ form.as_p }}
                    <input type="submit" value="Log in">
                </form>
            </div>
            <hr>
            <div id="signup">
                <a href="{% url 'wishlist:register' %}">No account ? Register !</a>
            </div>
        </div>
    </div>
{% endblock content %}