{% extends "wishlist/layout.html" %}

{% block content %}
    <div class="content small text-center">
        {% if user.is_authenticated %}
            <p>You are already logged in.</p>
            <a href="{% url 'wishlist:index' %}">Home</a>
        {% else %}
            <div id="signin">
                <form action="" method="POST">{% csrf_token %}
                    {{ form.errors.as_ul }}
                    {% for field in form  %}
                        <label for="id_{{field.name}}">{{ field.label }}</label>
                        <br>
                        <input type="{{field.field.widget.input_type}}" name="{{field.name}}" id="id_{{field.name}}" >
                        <br>
                        <p class="help_text">{{ field.help_text }}</p>
                        <br>
                    {% endfor %}
                    <input type="submit" value="Register">
                </form>
            </div>
            <hr>
            <div id="signup">
                <a href="{% url 'wishlist:login' %}">Already have an account ? Log in !</a>
            </div>
        {% endif %}
    </div>
{% endblock content %}