{% extends "wishlist/layout.html" %}

{% block content %}
    <div class="content">
        <div class="title">Features</div>
        <ul>
            <li>Create a wishlist</li>
            <li>Share it with people</li>
            <li>Read a wishlist</li>
            <li>Say to other that you plan on getting an item of the list (the owner will not see)</li>
        </ul>
    </div>
    <br>
    <div class="content">
        <div class="title">Dashboard</div>
        <div>
            {% if user.is_authenticated %}
                <p>Welcome {{user.username}}</p>
                <p>
                    <a href="{% url 'wishlist:wishlist_create' %}">Create a wishlist</a>
                </p>
                <p>
                    <a href="{% url 'wishlist:wishlist_list' %}">My wishlists</a>
                </p>
            {% else %}
                <p>Please <a href="{% url 'wishlist:login'%}">log in</a>.</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}