{% load static %}
<html>
    <head>
        <title>Wishlist</title>
        <link rel="stylesheet" type="text/css" href="{% static 'wishlist/style.css' %}">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    </head>
    <body>
        <header>
            <div class="logo">
                <p class="logo-title">Wishlist</p>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'wishlist:index' %}">Home</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="#">{{ user.username }}</a> <a href="{% url 'wishlist:logout' %}">Disconnect</a></li>
                    {% else %}
                        <li><a href="{% url 'wishlist:login' %}">Log in</a> / <a href="{% url 'wishlist:register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li {%if message.tags %} class="{{message.tags}}-message" {%endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}    

        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <div class="copyrigth">
                &copy; Maxime Chevallier-Pichon 2018
            </div>
            {% if user.username == "admin" %}
                <div class="admin">
                    <a href="{% url 'admin:index' %}">Administration</a>
                </div>
            {% endif %}
        </footer>
    </body>
</html>