{% extends "wishlist/layout.html" %}

{% block content %}
    <div class="content">
        <div class="title">Edit wishlist: {{ wishlist.name }}</div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Wishlist</legend>
                {{ form.errors.as_ul }}
                {{ wishlist_form.as_p }}
            </fieldset>
            <fieldset>
                <legend>Wishs:</legend>
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Description</th>
                    </thead>
                    {{ wish_formset.management_form }}
                    {% for form in wish_formset %}
                        {{ form.errors.as_ul }}
                        <tr>
                            {% for field in form %}
                                <td>{{ field }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </fieldset>
            <input type="submit" value="Update">
        </form>
    </div>
{% endblock content %}