{% extends "wishlist/layout.html" %}

{% block content %}
    <div class="content">
        <div class="title">Create a wishlist</div>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create">
        </form>
    </div>
{% endblock content %}