{% extends "wishlist/layout.html" %}

{% block content %}
    <div class="content">
        <a href="{% url 'wishlist:wishlist_list' %}">Return to wishlists</a>
        <div class="title">Wishlist: {{wishlist.name}}</div>
        <p class="created_date">created on {{ wishlist.created_date }} by {{ wishlist.owner.username }}</p>
    </div>
{% endblock content %}