{% extends "wishlist/layout.html" %}

{% block content %}
    <div class="content">
        <div class="title">Wishlist of {{ user.username }}</div>
        <ul>
            {% if wishlists.wishlists|length > 0 %}
                {% for wishlist in wishlists.wishlists %}
                    <li><a href="{% url 'wishlist:wishlist_read' wishlist.id %}">{{ wishlist.name|title }}</a> (<a href="{% url 'wishlist:wishlist_edit' wishlist.id %}">edit</a>) (<a href="">delete</a>)</li>
                {% endfor %}
            {% else %}
                <p>No wishlist. <a href="{% url 'wishlist:wishlist_create' %}">Create one.</a></p>
            {% endif %}
        </ul>
    </div>
{% endblock content %}