body, html {
    height: 100%;
}

body {
    background: #ecf0f1 no-repeat;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding: 0 5vw;
    margin: 2vh 0;
}

header {
    background-color: #2ecc71;
    display: flex;
}

header .logo {
    flex: 1;
    padding: 2vh;
}

.logo-title {
    font-size: 2em;
    font-weight: bold;
}

header nav {
    display: flex;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: auto;
}

header nav ul li {
    padding: 0 1vw;
}

footer {
    background-color: #2ecc71;
    padding: 2vh;
    text-align: center;
    flex-shrink: 0;
    display: flex;
}

footer .copyrigth {
    flex: 1
}

footer .admin {
    flex: 1
}

.content {
    background-color: white;
    padding: 2vh 2vw;
    box-shadow: 5px 5px 17px 1px #4a4a4a;
    margin: auto;
}

.content.small {
    width: 30vw;
}

.content .title {
    font-size: 1.5em;
}

fieldset {
    border: 0
}

.error-message {
    margin: 2vh 2vw;
    padding: 2vh 2vw;
    border: 1px solid #c0392b;
    background-color: #ec5444bd;
}
.error-message::before {
    content: "Error ! "
}
.warning-message {
    margin: 2vh 2vw;
    padding: 2vh 2vw;
    border: 1px solid #f39c12;
    background-color: #f7bf66bd;
}
.warning-message::before {
    content: "Error ! "
}
.success-message {
    margin: 2vh 2vw;
    padding: 2vh 2vw;
    border: 1px solid #27ae60;
    background-color: #4bca80bd;
}
.success-message::before {
    content: "Error ! "
}

.messages {
    list-style: none;
}