{% extends "polls/layout.html" %}

{% block content %}
    <div class="content">
        <p class="title">{{ question.question_text }}</p>

        {% if error_message %}<p>{{ error_message }}</p>{% endif %}
    
        <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" required>
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
            <input type="submit" value="Vote">
        </form>
    </div>
{% endblock content %}