{% load static %}
<html>
    <head>
        <title>Django first app</title>
        <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    </head>
    <body>
        <header>
            <div class="logo">
                <p class="logo-title">Django first app</p>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'polls:index'%}">Home</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="#">{{ user.get_username }}</a> (<a href="{% url 'poll:logout' %}">Logout</a>)</li>
                    {% else %}
                        <li><a href="{% url 'poll:signin' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li {%if message.tags %} class="{{message.tags}}-message" {%endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}    

        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <div class="copyrigth">
                &copy; Maxime Chevallier-Pichon 2018
            </div>
            <div class="admin">
                <a href="{% url 'admin:index' %}">Administration</a>
            </div>
        </footer>
    </body>
</html>