{% extends "polls/layout.html" %}

{% block content %}
    <div class="content small">
        <p class="title">Login</p>
        <form action="{% url 'polls:login' %}" method="post">
            {% csrf_token %}
            <fieldset>
                <label for="username">Username :</label>
                <br>
                <input type="text" name="username" id="username" required>
                <br>
                <label for="password">Password :</label>
                <br>
                <input type="password" name="password" id="password" required>
                <br>
                <input type="submit" value="Login">
            </fieldset>
            <fieldset>
                <a href="{% url 'polls:register_page' %}">Register</a>
            </fieldset>
        </form>
    </div>
{% endblock content %}