{% extends "polls/layout.html" %}

{% block content %}
    <div class="content small">
        <p class="title">Register</p>
        <form action="{% url 'polls:register' %}" method="post">
            {% csrf_token %}
            <fieldset>
                <label for="username">Username :</label>
                <br>
                <input type="text" name="username" id="username" required>
                <br>
                <label for="password">Password :</label>
                <br>
                <input type="password" name="password" id="password" required>
                <br>
                <label for="cpassword">Confirm password :</label>
                <br>
                <input type="password" name="cpassword" id="cpassword" required>
                <br>
                <input type="submit" value="Register">
            </fieldset>
            <fieldset>
                <a href="{% url 'polls:login_page' %}">Login</a>
            </fieldset>
        </form>
    </div>
{% endblock content %}