{% extends "polls/layout.html" %}

{% block content %}
    <div class="content">
        <p class="title">Results</p>
            <p>{{ question.question_text }}</p>

            <ul>
            {% for choice in question.choice_set.all %}
                <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
            {% endfor %}
            </ul>
        
            <a href="{% url 'polls:detail' question.id %}">Vote again?</a>
    </div>
{% endblock content %}